@model Conversion

@{
    ViewData["Title"] = "Add Request";
}

<div class="container">
    <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Request" asp-action="Index">Requests</a></li>
        <li class="breadcrumb-item">Add Request</li>
    </ol>

    <form method="post" asp-controller="Request" asp-action="Add">
        <div class="pl-2 text-danger" asp-validation-summary="All"></div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-form-label" asp-for="@Model.ConversionId"></label>
                <input class="form-control" asp-for="@Model.ConversionId" />
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" asp-for="@Model.ConversionName"></label>
                <input class="form-control" asp-for="@Model.ConversionName" />
            </div>
        </div>

        <partial name="_ConversionDetails" model="@Model" />

        <button class="btn btn-info" type="submit">Add</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </form>
</div>